body{
    margin: 0;
    padding: 0;
}
nav{
    text-align: right;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}
h2{
    text-align: center;
}
#tickets{
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    border: solid black;
    padding: 5px;
}
tr, th, td{
    padding: 5px;;
}
.actioncell{
    display: flex;
    gap:10px;
}